@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700');
@import "primevue/resources/primevue.css";
@import "_theme.scss";
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, sans-serif;
    color: theme('colors.content.base');
  }

  h1, h2, h3, h4, h5, h5, header {
    font-family: Oswald, sans-serif;
  }

  :root {
    --color-white: 255 255 255; // #FFFFFF

    //black
    --color-black-base: 26 26 26; // #1A1A1A
    --color-black-light: 221 221 221; // #DDDDDD

    //gold
    --color-main-base: 246 178 107; // #F6B26B

    //purple
    --color-content-base: 32 18 77; // #20124D
    --color-content-light: 53 28 117; // #351C75
    --color-content-xlight: 142 124 195; // #8E7CC3
    --color-content-glight: 180 167 214; // #B4A7D6
    --color-content-flight: 217 210 233; // #D9D2E9

    //red
    --color-error-base: 255 85 85; // #FF5555
  }
}

@layer utilities {
  .custom-tooltip {
    .p-tooltip-text {
      @apply bg-white text-content-base rounded-2xl p-2 text-center drop-shadow-md;
    }

    &.p-tooltip-top {
      .p-tooltip-arrow {
        border-top-color: #FFFFFF !important;
      }
    }
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}